@model List<Memory.Models.GameRoom>
@{
    ViewBag.Title = "HomePage";
 }
    
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<div id="gameInfo">
    <ul id="roomsList">
        @foreach (var gr in Model)
        {
            @*@Html.ActionLink(item.Category.categoryName, "../Categories/Details", new {id=item.categoryID})*@
            <li><button id="@gr.gameRoomID">@gr.gameRoomName</button></li>
        }
    </ul>
    <div id="gameStatus">
        <div><label for="gameRoomID">gameRoomID</label>&nbsp;<input data-val="true" data-val-number="The field gameRoomID must be a number." data-val-required="The gameRoomID field is required." id="gameRoomID" name="gameRoomID" type="text" value=""/></div>
        <div><label for="currentPlayers">currentPlayers</label> &nbsp; <input data-val="true" data-val-number="The field currentPlayers must be a number." data-val-required="The currentPlayers field is required." id="currentPlayers" name="currentPlayers" type="hidden" value=""/></div>
        <div><label for="player1">player1</label> &nbsp; <input id="player1" name="player1" type="text" /></div>
        <div><label for="player2">player2</label> &nbsp; <input id="player2" name="player2" type="text" /></div>
        <h2 id="waitingMessage"></h2>
    </div>
</div>
@*@Html.Partial("~/Views/Shared/_GameBoard.cshtml", Model)*@


