body {
}
/*fiddler example classes*/
.front{
    height:100px;
    width:100px;
    background-color:#0000FF;
}

.back{
    height:100px;
    width:100px;
    background-color:#FF0000;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
    height:100px;
    width:100px;
    position:relative;
    float:left;
    margin:10px;
    border:1px double black;
}


/* flip the pane when hovered */
	/*.flip-container:hover .flipper, .flip-container.hover .flipper {
	-webkit-transform: rotateY(180deg);	
    transform: rotateY(180deg);
	}*/

.flipCard .flipper{
	-webkit-transform: rotateY(180deg);	
    -ms-transform:rotateY(180deg);
    transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
    -webkit-transition: .5s;
    transition: .5s;
	/*transition: 0.6s;*/
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
    position: absolute;
	top: 0;
	left: 0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY(180deg);
    -ms-transform:rotateY(180deg);
    transform: rotateY(180deg);
}

